In [1]:
import sqlite3

### NOMBRE DE FILMS DANS LA TABLE movies

In [2]:
db = sqlite3.connect("BaseDeDonnéeMovies.db")
    
cursor = db.cursor()
    
cursor.execute('select COUNT(movieId) from movies')

resultat = cursor.fetchall()
    
for row in resultat: 
    print("Nombre de Films {}".format(*row))
    
cursor.close()
db.close()

Nombre de Films 9742

### NOMBRE DE FILMS PAR ANNEES

In [3]:
try:
    db = sqlite3.connect("BaseDeDonnéeMovies.db")
    
    cursor = db.cursor()
    
    cursor.execute('ALTER TABLE movies ADD year integer') #Création colonne year dans table movies

    cursor.close()
    db.close()
    
except:
    
    print("La colonne est déjà")
    exit(1)
        
print("La colonne a été créée")

La colonne est déjà
La colonne a été créée

In [4]:
try:
    
    db = sqlite3.connect("BaseDeDonnéeMovies.db")
    
    cursor = db.cursor()
    
    cursor.execute("UPDATE movies SET year = substr(title, -6, 6)") # Transférer les Années dans colonne year

    cursor.close()
    db.close()
    
except: 
    
    print("Une erreur est survenue survenue lors de l'insertion dans la base")
    exit(1)
    
print("Insertion effectuée")

Insertion effectuée

In [5]:
db = sqlite3.connect("BaseDeDonnéeMovies.db")
    
cursor = db.cursor()
    
cursor.execute("SELECT COUNT(DISTINCT movieId) AS 'NbFilms', year from movies WHERE year IS NOT NULL GROUP BY year ORDER BY NbFilms DESC LIMIT 10")

resultat = cursor.fetchall()
    
for row in resultat: 
    print("{} Films ---> {}".format(*row))
        
cursor.close()
db.close()

311 Films ---> (2002)
295 Films ---> (2006)
294 Films ---> (2001)
283 Films ---> (2000)
282 Films ---> (2009)
282 Films ---> (2007)
279 Films ---> (2004)
279 Films ---> (2003)
277 Films ---> (2014)
276 Films ---> (1996)

### TOP 10 CATEGORIES - NOMBRE DE FILMS PAR GENRE

In [6]:
db = sqlite3.connect("BaseDeDonnéeMovies.db")
    
cursor = db.cursor()
    
cursor.execute("SELECT COUNT(DISTINCT movieId) AS 'NbFilms', genres from movies WHERE genres IS NOT NULL GROUP BY genres ORDER BY NbFilms DESC LIMIT 10")

resultat = cursor.fetchall()
    
for row in resultat: 
    print("{} Films ---> {}".format(*row))
        
cursor.close()
db.close()

1053 Films ---> Drama
946 Films ---> Comedy
435 Films ---> Comedy|Drama
363 Films ---> Comedy|Romance
349 Films ---> Drama|Romance
339 Films ---> Documentary
276 Films ---> Comedy|Drama|Romance
168 Films ---> Drama|Thriller
167 Films ---> Horror
135 Films ---> Horror|Thriller

### NOMBRE DE USER ID

In [7]:
db = sqlite3.connect("BaseDeDonnéeMovies.db")
    
cursor = db.cursor()
    
cursor.execute("SELECT count(DISTINCT userId)\
               FROM ratings")

resultat = cursor.fetchall()
    
for row in resultat: 
    print("Nombre spectateurs : {}".format(*row))
        
cursor.close()
db.close()

Nombre spectateurs : 610

### FILMS MIEUX NOTES AVEC 30+= AVIS

In [8]:
db = sqlite3.connect("BaseDeDonnéeMovies.db")
    
cursor = db.cursor()
    
cursor.execute("SELECT title, count(rating), avg(rating)\
               FROM movies Inner join ratings on movies.movieId=ratings.movieId\
               GROUP BY title\
               HAVING count(rating) > 30\
               ORDER BY avg(rating) DESC\
               LIMIT 10")

resultat = cursor.fetchall()
    
for row in resultat: 
    print("{} | Nombre d'avis : {} | Moyenne : {}".format(*row))
        
cursor.close()
db.close()

Shawshank Redemption, The (1994) | Nombre d'avis : 317 | Moyenne : 4.429022082018927
Lawrence of Arabia (1962) | Nombre d'avis : 45 | Moyenne : 4.3
Godfather, The (1972) | Nombre d'avis : 192 | Moyenne : 4.2890625
Fight Club (1999) | Nombre d'avis : 218 | Moyenne : 4.272935779816514
Cool Hand Luke (1967) | Nombre d'avis : 57 | Moyenne : 4.271929824561403
Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1964) | Nombre d'avis : 97 | Moyenne : 4.268041237113402
Rear Window (1954) | Nombre d'avis : 84 | Moyenne : 4.261904761904762
Godfather: Part II, The (1974) | Nombre d'avis : 129 | Moyenne : 4.25968992248062
Departed, The (2006) | Nombre d'avis : 107 | Moyenne : 4.252336448598131
Goodfellas (1990) | Nombre d'avis : 126 | Moyenne : 4.25

### LES FILMS DE 2018 DONT LA MOYENNE DEPASSE 4

In [9]:
db = sqlite3.connect("BaseDeDonnéeMovies.db")
    
cursor = db.cursor()
    
cursor.execute("SELECT title, avg(rating)\
                FROM movies Inner join ratings on movies.movieId=ratings.movieId\
                WHERE year = '(2018)'\
                GROUP BY title\
                HAVING avg(rating) > 4\
                ORDER BY avg(rating) DESC")

resultat = cursor.fetchall()
    
for row in resultat: 
    print("{} ---> {}".format(*row))
        
cursor.close()
db.close()

Won't You Be My Neighbor? (2018) ---> 5.0
Tom Segura: Disgraceful (2018) ---> 4.5
The Man Who Killed Don Quixote (2018) ---> 4.5
Sorry to Bother You (2018) ---> 4.5
Mamma Mia: Here We Go Again! (2018) ---> 4.5
Alpha (2018) ---> 4.5

### FILMS MOINS BIEN NOTES AVEC 30+= AVIS

In [10]:
db = sqlite3.connect("BaseDeDonnéeMovies.db")
    
cursor = db.cursor()
    
cursor.execute("SELECT title, count(rating), avg(rating)\
               FROM movies Inner join ratings on movies.movieId=ratings.movieId\
               GROUP BY title\
               HAVING count(rating) > 30\
               ORDER BY avg(rating) ASC\
               LIMIT 10")

resultat = cursor.fetchall()
    
for row in resultat: 
    print("{} | Nombre d'avis : {} | Moyenne : {}".format(*row))
        
cursor.close()
db.close()

Godzilla (1998) | Nombre d'avis : 33 | Moyenne : 1.9545454545454546
I Know What You Did Last Summer (1997) | Nombre d'avis : 32 | Moyenne : 2.109375
Wild Wild West (1999) | Nombre d'avis : 53 | Moyenne : 2.207547169811321
Batman & Robin (1997) | Nombre d'avis : 42 | Moyenne : 2.2142857142857144
Hollow Man (2000) | Nombre d'avis : 39 | Moyenne : 2.2948717948717947
Flintstones, The (1994) | Nombre d'avis : 42 | Moyenne : 2.357142857142857
Free Willy (1993) | Nombre d'avis : 37 | Moyenne : 2.391891891891892
Striptease (1996) | Nombre d'avis : 41 | Moyenne : 2.4146341463414633
Coneheads (1993) | Nombre d'avis : 63 | Moyenne : 2.4206349206349205
Showgirls (1995) | Nombre d'avis : 35 | Moyenne : 2.4714285714285715

### FILMS AVEC LE PLUS D'AVIS ET MOYENNE

In [11]:
db = sqlite3.connect("BaseDeDonnéeMovies.db")
    
cursor = db.cursor()
    
cursor.execute("SELECT title, count(rating), avg(rating)\
               FROM movies Inner join ratings on movies.movieId=ratings.movieId\
               GROUP BY title\
               ORDER BY count(rating) DESC\
               LIMIT 10")

resultat = cursor.fetchall()
    
for row in resultat: 
    print("{} | Nombre d'avis : {} | Moyenne : {}".format(*row))
        
cursor.close()
db.close()

Forrest Gump (1994) | Nombre d'avis : 329 | Moyenne : 4.164133738601824
Shawshank Redemption, The (1994) | Nombre d'avis : 317 | Moyenne : 4.429022082018927
Pulp Fiction (1994) | Nombre d'avis : 307 | Moyenne : 4.197068403908795
Silence of the Lambs, The (1991) | Nombre d'avis : 279 | Moyenne : 4.161290322580645
Matrix, The (1999) | Nombre d'avis : 278 | Moyenne : 4.192446043165468
Star Wars: Episode IV - A New Hope (1977) | Nombre d'avis : 251 | Moyenne : 4.231075697211155
Jurassic Park (1993) | Nombre d'avis : 238 | Moyenne : 3.75
Braveheart (1995) | Nombre d'avis : 237 | Moyenne : 4.031645569620253
Terminator 2: Judgment Day (1991) | Nombre d'avis : 224 | Moyenne : 3.970982142857143
Schindler's List (1993) | Nombre d'avis : 220 | Moyenne : 4.225

### FILMS AVEC LE PLUS DE TAGS

In [12]:
db = sqlite3.connect("BaseDeDonnéeMovies.db")
    
cursor = db.cursor()
    
cursor.execute("SELECT title, count(tag) as t_rate\
               FROM movies Inner join tags on movies.movieId=tags.movieId\
               GROUP BY title order by t_rate\
               DESC limit 10")

resultat = cursor.fetchall()
    
for row in resultat: 
    print("{} ---> {}".format(*row))
        
cursor.close()
db.close()

Pulp Fiction (1994) ---> 181
Fight Club (1999) ---> 54
2001: A Space Odyssey (1968) ---> 41
Léon: The Professional (a.k.a. The Professional) (Léon) (1994) ---> 35
Eternal Sunshine of the Spotless Mind (2004) ---> 34
Big Lebowski, The (1998) ---> 32
Donnie Darko (2001) ---> 29
Star Wars: Episode IV - A New Hope (1977) ---> 26
Inception (2010) ---> 26
Suicide Squad (2016) ---> 19

### NOMBRE D'AVIS PAR USER ID

In [13]:
db = sqlite3.connect("BaseDeDonnéeMovies.db")
    
cursor = db.cursor()
    
cursor.execute("SELECT userId, count(userId) as c_user\
               FROM ratings\
               GROUP BY userId\
               ORDER BY c_user DESC\
               LIMIT 10")

resultat = cursor.fetchall()
    
for row in resultat: 
    print("UserId : {} | Nombre d'avis : {}".format(*row))
        
cursor.close()
db.close()

UserId : 414 | Nombre d'avis : 2698
UserId : 599 | Nombre d'avis : 2478
UserId : 474 | Nombre d'avis : 2108
UserId : 448 | Nombre d'avis : 1864
UserId : 274 | Nombre d'avis : 1346
UserId : 610 | Nombre d'avis : 1302
UserId : 68 | Nombre d'avis : 1260
UserId : 380 | Nombre d'avis : 1218
UserId : 606 | Nombre d'avis : 1115
UserId : 288 | Nombre d'avis : 1055