In [1]:
import sqlite3

In [2]:
db = sqlite3.connect('BaseDeDonnéeMovies.db')

cursor = db.cursor()

### NOMBRE DE FILMS DANS LA TABLE movies

In [3]:
db = sqlite3.connect("BaseDeDonnéeMovies.db")
    
cursor = db.cursor()
    
cursor.execute("select COUNT(movieId) from movies")

resultat = cursor.fetchall()
    
for row in resultat: 
    print("Nombre de Films {}".format(*row))
    
cursor.close()
db.close()

Nombre de Films 9742

### NOMBRE DE FILMS PAR ANNEES

In [4]:
db = sqlite3.connect("BaseDeDonnéeMovies.db")
    
cursor = db.cursor()
    
cursor.execute("select COUNT(movieId) AS 'NbFimls' FROM movies") ##CREER COLONNE YEARS DANS MOVIES ET SUBSTR

resultat = cursor.fetchall()
    
for row in resultat: 
    print("Nombre de Films {}".format(*row))
    
cursor.close()
db.close()

Nombre de Films 9742

### TOP 10 CATEGORIE FILMS - NOMBRE DE FILMS PAR GENRE

In [5]:
db = sqlite3.connect("BaseDeDonnéeMovies.db")
    
cursor = db.cursor()
    
cursor.execute("SELECT COUNT(DISTINCT movieId) AS 'NbFilms', genres from movies WHERE genres IS NOT NULL GROUP BY genres ORDER BY NbFilms DESC LIMIT 10")

resultat = cursor.fetchall()
    
for row in resultat: 
    print("Nombre Films {} ---> {}".format(*row))
        
cursor.close()
db.close()

Nombre Films 1053 ---> Drama
Nombre Films 946 ---> Comedy
Nombre Films 435 ---> Comedy|Drama
Nombre Films 363 ---> Comedy|Romance
Nombre Films 349 ---> Drama|Romance
Nombre Films 339 ---> Documentary
Nombre Films 276 ---> Comedy|Drama|Romance
Nombre Films 168 ---> Drama|Thriller
Nombre Films 167 ---> Horror
Nombre Films 135 ---> Horror|Thriller

### LES FILMS NOTES A 5

In [6]:

db = sqlite3.connect("BaseDeDonnéeMovies.db")
    
cursor = db.cursor()
    
cursor.execute("SELECT title, rating from movies Inner join ratings on movies.movieId=ratings.movieId WHERE rating=5 GROUP BY title limit 10")

resultat = cursor.fetchall()
    
for row in resultat: 
    print("{} ---> {}".format(*row))
        
cursor.close()
db.close()

'Salem's Lot (2004) ---> 5
'Til There Was You (1997) ---> 5
'burbs, The (1989) ---> 5
(500) Days of Summer (2009) ---> 5
10 Cloverfield Lane (2016) ---> 5
10 Things I Hate About You (1999) ---> 5
101 Dalmatians (1996) ---> 5
101 Dalmatians (One Hundred and One Dalmatians) (1961) ---> 5
12 Angry Men (1957) ---> 5
12 Angry Men (1997) ---> 5