In [5]:
import sqlite3

### NOMBRE DE FILMS DANS LA TABLE movies

In [6]:
db = sqlite3.connect("BaseDeDonnéeMovies.db")
    
cursor = db.cursor()
    
cursor.execute('select COUNT(movieId) from movies')

resultat = cursor.fetchall()
    
for row in resultat: 
    print("Nombre de Films {}".format(*row))
    
cursor.close()
db.close()

Nombre de Films 9742

### NOMBRE DE FILMS PAR ANNEES

In [7]:
try:
    db = sqlite3.connect("BaseDeDonnéeMovies.db")
    
    cursor = db.cursor()
    
    cursor.execute('ALTER TABLE movies ADD year integer') #Création colonne year dans table movies

    cursor.close()
    db.close()
    
except:
    
    print("La colonne est déjà")
    exit(1)
        
print("La colonne a été créée")

La colonne est déjà
La colonne a été créée

In [8]:
try:
    
    db = sqlite3.connect("BaseDeDonnéeMovies.db")
    
    cursor = db.cursor()
    
    cursor.execute('UPDATE movies SET year = substr(title, -6, 6)') # Transférer les Années dans colonne year

    cursor.close()
    db.close()
    
except: 
    
    print("Une erreur est survenue survenue lors de l'insertion dans la base")
    exit(1)
    
print("Insertion effectuée")

Insertion effectuée

In [9]:
db = sqlite3.connect("BaseDeDonnéeMovies.db")
    
cursor = db.cursor()
    
cursor.execute("SELECT COUNT(DISTINCT movieId) AS 'NbFilms', year from movies WHERE year IS NOT NULL GROUP BY year ORDER BY NbFilms DESC LIMIT 10")

resultat = cursor.fetchall()
    
for row in resultat: 
    print("{} Films ---> {}".format(*row))
        
cursor.close()
db.close()

311 Films ---> (2002)
295 Films ---> (2006)
294 Films ---> (2001)
283 Films ---> (2000)
282 Films ---> (2009)
282 Films ---> (2007)
279 Films ---> (2004)
279 Films ---> (2003)
277 Films ---> (2014)
276 Films ---> (1996)

### TOP 10 CATEGORIES - NOMBRE DE FILMS PAR GENRE

In [10]:
db = sqlite3.connect("BaseDeDonnéeMovies.db")
    
cursor = db.cursor()
    
cursor.execute("SELECT COUNT(DISTINCT movieId) AS 'NbFilms', genres from movies WHERE genres IS NOT NULL GROUP BY genres ORDER BY NbFilms DESC LIMIT 10")

resultat = cursor.fetchall()
    
for row in resultat: 
    print("{} Films ---> {}".format(*row))
        
cursor.close()
db.close()

1053 Films ---> Drama
946 Films ---> Comedy
435 Films ---> Comedy|Drama
363 Films ---> Comedy|Romance
349 Films ---> Drama|Romance
339 Films ---> Documentary
276 Films ---> Comedy|Drama|Romance
168 Films ---> Drama|Thriller
167 Films ---> Horror
135 Films ---> Horror|Thriller

### LES FILMS DEPUIS 2006 NOTÉS A AU MOINS 4.5

In [37]:
db = sqlite3.connect("BaseDeDonnéeMovies.db")
    
cursor = db.cursor()
    
cursor.execute("SELECT title, rating from movies Inner join ratings on movies.movieId=ratings.movieId WHERE rating > 4.5 AND title LIKE '%2016%' OR rating > 4.5 AND title LIKE '%2017%' OR rating > 4.5 AND title LIKE '%2018%'")

resultat = cursor.fetchall()
    
for row in resultat: 
    print("{} ---> {}".format(*row))
        
cursor.close()
db.close()

10 Cloverfield Lane (2016) ---> 5
Rogue One: A Star Wars Story (2016) ---> 5
Avengers: Infinity War - Part I (2018) ---> 5
Three Billboards Outside Ebbing, Missouri (2017) ---> 5
Wonder (2017) ---> 5
Deadpool 2 (2018) ---> 5
Deadpool (2016) ---> 5
Deadpool (2016) ---> 5
Zootopia (2016) ---> 5
Sherlock: The Abominable Bride (2016) ---> 5
Logan (2017) ---> 5
Zootopia (2016) ---> 5
Ice Age: The Great Egg-Scapade (2016) ---> 5
Finding Dory (2016) ---> 5
All Yours (2016) ---> 5
Avengers: Infinity War - Part I (2018) ---> 5
Thor: Ragnarok (2017) ---> 5
Untitled Spider-Man Reboot (2017) ---> 5
Arrival (2016) ---> 5
Coco (2017) ---> 5
Deadpool 2 (2018) ---> 5
Sherlock: The Abominable Bride (2016) ---> 5
Planet Earth II (2016) ---> 5
Loving Vincent (2017) ---> 5
Deadpool (2016) ---> 5
Central Intelligence (2016) ---> 5
Tom Segura: Mostly Stories (2016) ---> 5
13 Hours (2016) ---> 5
Sausage Party (2016) ---> 5
Baby Driver (2017) ---> 5
Deadpool (2016) ---> 5
Deadpool (2016) ---> 5
Hidden Figures (2016) ---> 5
Avengers: Infinity War - Part I (2018) ---> 5
Arrival (2016) ---> 5
A Silent Voice (2016) ---> 5
Planet Earth II (2016) ---> 5
Tickling Giants (2017) ---> 5
Paddington 2 (2017) ---> 5
Guardians of the Galaxy 2 (2017) ---> 5
Coco (2017) ---> 5
Three Billboards Outside Ebbing, Missouri (2017) ---> 5
Isle of Dogs (2018) ---> 5
Three Billboards Outside Ebbing, Missouri (2017) ---> 5
Arrival (2016) ---> 5
Rogue One: A Star Wars Story (2016) ---> 5
Logan (2017) ---> 5
Deadpool 2 (2018) ---> 5
Kubo and the Two Strings (2016) ---> 5
Arrival (2016) ---> 5
Deadpool (2016) ---> 5
Coco (2017) ---> 5
It (2017) ---> 5
Deadpool (2016) ---> 5
Deadpool (2016) ---> 5
SORI: Voice from the Heart (2016) ---> 5
Deadpool 2 (2018) ---> 5
Blue Planet II (2017) ---> 5
Deadpool (2016) ---> 5
Three Billboards Outside Ebbing, Missouri (2017) ---> 5
La La Land (2016) ---> 5
Dunkirk (2017) ---> 5
American Made (2017) ---> 5
Guardians of the Galaxy 2 (2017) ---> 5
Deadpool (2016) ---> 5
Avengers: Infinity War - Part I (2018) ---> 5
Thor: Ragnarok (2017) ---> 5
Guardians of the Galaxy 2 (2017) ---> 5
Captain America: Civil War (2016) ---> 5
Doctor Strange (2016) ---> 5
Untitled Spider-Man Reboot (2017) ---> 5
Zootopia (2016) ---> 5
The Nice Guys (2016) ---> 5
Rogue One: A Star Wars Story (2016) ---> 5
The Lego Batman Movie (2017) ---> 5
John Wick: Chapter Two (2017) ---> 5
Logan (2017) ---> 5
War for the Planet of the Apes (2017) ---> 5
Hell or High Water (2016) ---> 5
The Big Sick (2017) ---> 5
Baby Driver (2017) ---> 5
Dunkirk (2017) ---> 5
Blade Runner 2049 (2017) ---> 5
Arrival (2016) ---> 5
Doctor Strange (2016) ---> 5
Coco (2017) ---> 5
Indignation (2016) ---> 5
I Am Not Your Negro (2017) ---> 5
Get Out (2017) ---> 5
Won't You Be My Neighbor? (2018) ---> 5
Deadpool (2016) ---> 5
Deadpool (2016) ---> 5
Thor: Ragnarok (2017) ---> 5
Guardians of the Galaxy 2 (2017) ---> 5
Logan (2017) ---> 5
Blade Runner 2049 (2017) ---> 5
The Jungle Book (2016) ---> 5
Deadpool (2016) ---> 5
Sherlock: The Abominable Bride (2016) ---> 5
Logan (2017) ---> 5
Deadpool (2016) ---> 5
The Girl with All the Gifts (2016) ---> 5
X-Men: Apocalypse (2016) ---> 5
Deadpool (2016) ---> 5
Rogue One: A Star Wars Story (2016) ---> 5
Miss Sloane (2016) ---> 5
Blade Runner 2049 (2017) ---> 5
Pirates of the Caribbean: Dead Men Tell No Tales (2017) ---> 5
Black Panther (2017) ---> 5
Guardians of the Galaxy 2 (2017) ---> 5
Captain America: Civil War (2016) ---> 5
Doctor Strange (2016) ---> 5
Untitled Spider-Man Reboot (2017) ---> 5
Kung Fu Panda 3 (2016) ---> 5
Zootopia (2016) ---> 5
Jason Bourne (2016) ---> 5
Moana (2016) ---> 5
Logan (2017) ---> 5
The Boss Baby (2017) ---> 5
Star Wars: The Last Jedi (2017) ---> 5
Solo: A Star Wars Story (2018) ---> 5
Black Panther (2017) ---> 5
Thor: Ragnarok (2017) ---> 5
Rogue One: A Star Wars Story (2016) ---> 5
The Lego Batman Movie (2017) ---> 5
Logan (2017) ---> 5
Captain America: Civil War (2016) ---> 5
Everybody Wants Some (2016) ---> 5
The Nice Guys (2016) ---> 5
Arrival (2016) ---> 5
John Wick: Chapter Two (2017) ---> 5
Get Out (2017) ---> 5
Logan (2017) ---> 5

### LES FILMS NOTÉS 5

In [12]:
db = sqlite3.connect("BaseDeDonnéeMovies.db")
    
cursor = db.cursor()
    
cursor.execute("SELECT title, rating from movies Inner join ratings on movies.movieId=ratings.movieId WHERE rating=5 GROUP BY title limit 10")

resultat = cursor.fetchall()
    
for row in resultat: 
    print("{} ---> {}".format(*row))
        
cursor.close()
db.close()

'Salem's Lot (2004) ---> 5
'Til There Was You (1997) ---> 5
'burbs, The (1989) ---> 5
(500) Days of Summer (2009) ---> 5
10 Cloverfield Lane (2016) ---> 5
10 Things I Hate About You (1999) ---> 5
101 Dalmatians (1996) ---> 5
101 Dalmatians (One Hundred and One Dalmatians) (1961) ---> 5
12 Angry Men (1957) ---> 5
12 Angry Men (1997) ---> 5