In [2]:
import sqlite3

### NOMBRE DE FILMS DANS LA TABLE movies

In [3]:
db = sqlite3.connect("BaseDeDonnéeMovies.db")
    
cursor = db.cursor()
    
cursor.execute('select COUNT(movieId) from movies')

resultat = cursor.fetchall()
    
for row in resultat: 
    print("Nombre de Films {}".format(*row))
    
cursor.close()
db.close()

Nombre de Films 9742

### NOMBRE DE FILMS PAR ANNEES

In [4]:
try:
    db = sqlite3.connect("BaseDeDonnéeMovies.db")
    
    cursor = db.cursor()
    
    cursor.execute('ALTER TABLE movies ADD year integer') #Création colonne year dans table movies

    cursor.close()
    db.close()
    
except:
    
    print("La colonne est déjà")
    exit(1)
        
print("La colonne a été créée")

La colonne est déjà
La colonne a été créée

In [8]:
try:
    
    db = sqlite3.connect("BaseDeDonnéeMovies.db")
    
    cursor = db.cursor()
    
    cursor.execute('UPDATE movies SET year = substr(title, -6, 6)') # Enregistrer Années dans colonne year

    cursor.close()
    db.close()
    
except: 
    
    print("Une erreur est survenue survenue lors de l'insertion dans la base")
    exit(1)
    
print("Insertion effectuée")

Insertion effectuée

In [3]:
db = sqlite3.connect("BaseDeDonnéeMovies.db")
    
cursor = db.cursor()
    
cursor.execute("SELECT COUNT(DISTINCT movieId) AS 'NbFilms', year from movies WHERE year IS NOT NULL GROUP BY year ORDER BY NbFilms DESC LIMIT 10")

resultat = cursor.fetchall()
    
for row in resultat: 
    print("{} Films ---> {}".format(*row))
        
cursor.close()
db.close()

311 Films ---> (2002)
295 Films ---> (2006)
294 Films ---> (2001)
283 Films ---> (2000)
282 Films ---> (2009)
282 Films ---> (2007)
279 Films ---> (2004)
279 Films ---> (2003)
277 Films ---> (2014)
276 Films ---> (1996)

### TOP 10 CATEGORIES - NOMBRE DE FILMS PAR GENRE

In [6]:
db = sqlite3.connect("BaseDeDonnéeMovies.db")
    
cursor = db.cursor()
    
cursor.execute("SELECT COUNT(DISTINCT movieId) AS 'NbFilms', genres from movies WHERE genres IS NOT NULL GROUP BY genres ORDER BY NbFilms DESC LIMIT 10")

resultat = cursor.fetchall()
    
for row in resultat: 
    print("{} Films ---> {}".format(*row))
        
cursor.close()
db.close()

1053 Films ---> Drama
946 Films ---> Comedy
435 Films ---> Comedy|Drama
363 Films ---> Comedy|Romance
349 Films ---> Drama|Romance
339 Films ---> Documentary
276 Films ---> Comedy|Drama|Romance
168 Films ---> Drama|Thriller
167 Films ---> Horror
135 Films ---> Horror|Thriller

### LES FILMS NOTES A 5

In [7]:

db = sqlite3.connect("BaseDeDonnéeMovies.db")
    
cursor = db.cursor()
    
cursor.execute("SELECT title, rating from movies Inner join ratings on movies.movieId=ratings.movieId WHERE rating=5 GROUP BY title limit 10")

resultat = cursor.fetchall()
    
for row in resultat: 
    print("{} ---> {}".format(*row))
        
cursor.close()
db.close()

'Salem's Lot (2004) ---> 5
'Til There Was You (1997) ---> 5
'burbs, The (1989) ---> 5
(500) Days of Summer (2009) ---> 5
10 Cloverfield Lane (2016) ---> 5
10 Things I Hate About You (1999) ---> 5
101 Dalmatians (1996) ---> 5
101 Dalmatians (One Hundred and One Dalmatians) (1961) ---> 5
12 Angry Men (1957) ---> 5
12 Angry Men (1997) ---> 5